footer.text-dark
  .container-fluid.bg-success.p-5.border.bg-opacity-75
    .row
      .col
        p.text-center ©2022 Government of Taniti
    .row
      .col-10
      .col.p-1
        span
          img(src="/icons/facebook.svg" width="32" height="32" alt="Facebook")
          img(src="/icons/instagram.svg" width="32" height="32" alt="Instagram")
          img(src="/icons/twitter.svg" width="32" height="32" alt="Twitter")
          img(src="/icons/pinterest.svg" width="32" height="32" alt="Pinterest")