extends layout

block content
  .container-fluid.bg-info.bg-gradient.p-2
    .row.p-3.mt-3.d-flex.align-items-center
      .col-1
      .col <img src='https://dummyimage.com/300x300.png?text=Image' alt=''/>
      .col.mt-5.align-self-stretch
        p Taniti is a small, tropical island in the Pacific. 
      .col-1
    .row.p-3.mt-3.d-flex.align-items-center
      .col-1
      .col-6.mt-5.align-self-stretch While the island has an area of less than 500 square miles, the terrain is varied and includes both sandy and rocky beaches, a small but safe harbor, lush tropical rainforests, and a mountainous interior that includes a small, active volcano.
      .col-1
      .col-3 <img src='https://dummyimage.com/300x300.png?text=Image' alt=''/>
      .col-1
    .row.p-3.mt-3.d-flex.align-items-center
      .col-1
      .col <img src='https://dummyimage.com/300x300.png?text=Image' alt=''/>
      .col.mt-5.align-self-stretch Taniti has an indigenous population of about 20,000. Until a recent increase in tourism, most of the Tanitian economy was dominated by fishing or agriculture.
      .col-1