extends layout

block content
  .container-fluid.bg-info.bg-opacity-75
    .scrollspy(data-mdb-spy="scroll" data-mdb-target="#scrollspy2" data-mdb-offset="0")
      .row
        .col-1
        .col-9
          .container-fluid
            .row.text-dark.d-flex.align-items-center.justify-content-center.py-5
              .col-1
              .col.text-center#transportation
                span.h2 Transportation
                p Almost all visitors arrive to Taniti by air, though some arrive on a small cruise ship that docks in Yellow Leaf Bay for one night per week. Taniti is served by a small airport that can accommodate small jets and propeller planes. Taniti is in the process of expanding the airport so larger jets will be able to land on the island within the next few years.
              .col
                img(src="https://dummyimage.com/300.png" alt='')
            .row.text-dark.d-flex.align-items-center.justify-content-center.py-5
              .col-1
              .col
                img(src="https://dummyimage.com/300.png" alt='')
              .col.text-center#ground-transportation
                span.h2 Ground Transportation
                p Public buses serve Taniti City and run from 5 a.m. to 11 p.m. every day. Private buses serve the rest of the island. Taxis are available in Taniti City, and rental cars can be rented from a local rental agency near the airport. Bikes and helmets are available to rent from several vendors (helmets are required by law). Taniti City is fairly flat and very walkable. Many tourists stay in the area surrounding Merriton Landing: this area is easy to explore on foot!
            .row.text-dark.d-flex.align-items-center.justify-content-center.py-5
              .col-1
              .col
                img(src="https://dummyimage.com/300.png" alt='')
              .col.text-center#lodging
                span.h2 Lodging
                p Taniti has a wide variety of lodging that ranges from an inexpensive hostel to one large, four-star resort. There are many small, family-owned hotels and a growing number of bed and breakfasts. All types of lodging are strictly regulated and regularly inspected by the Tanitian government.
            .row.text-dark.d-flex.align-items-center.justify-content-center.py-5
              .col-1
              .col.text-center#grocery
                span.h2 Grocery
                p Taniti has two supermarkets, two smaller grocery stores, and one convenience store that is open 24 hours a day.
              .col
                img(src="https://dummyimage.com/300.png" alt='')
        .col-1
          #scrollspy2.sticky-top.mt-5
            ul.nav.flex-column.nav-pills.menu-sidebar
              li.nav-item
                a.nav-link(href="#transportation") Transportation
              li.nav-item
                a.nav-link(href="#ground-transportation") Ground Transportation
              li.nav-item
                a.nav-link(href="#lodging") Lodging
              li.nav-item
                a.nav-link(href="#grocery") Grocery