extends layout

block content
  .container-fluid.bg-primary.pt-5
    .scrollspy(data-mdb-spy="scroll" data-mdb-target="#scrollspy1" data-mdb-offset="0")
      //- Entertainment
      .row
        .col-1
        .col-9
          .container.shadow-inner.border.pt-4#entertainment
            .row
              .col.text-center.display-4 Entertainment
            .row.row-cols-3.g-4.p-4
              .col
                .card
                  img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                  .card-header.text-dark
                    .card-body
                      h5.card-title Relaxing Beaches
                      .card-text Description
                    .card-footer.text-center
                      a.link-primary(href="#") Find Out More (Link to information)
                      br
                      br
                      a.link-primary(href="#") Location (Google Maps Link to location)
                .card.mt-3
                  img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                  .card-header.text-dark
                    .card-body
                      h5.card-title Rainforest Trek
                      .card-text Description
                        .card-footer.text-center
                          a.link-primary(href="#") Find Out More (Link to information)
                          br
                          br
                          a.link-primary(href="#") Location (Google Maps Link to location
                .card.mt-3
                  img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                  .card-header.text-dark
                    .card-body
                      h5.card-title Volcano
                      .card-text Incredible volcano
                        .card-footer.text-center
                          a.link-primary(href="#") Find Out More (Link to information)
                          br
                          br
                          a.link-primary(href="#") Location (Google Maps Link to location)
              .col
                .card
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title History Museum
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Find Out More (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Fishing Tours
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Find Out More (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Zip-Lining
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Find Out More (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location
              .col
                .card
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Microbrewery
                        .card-text Description
                      .card-footer.text-center 
                          a.link-primary(href="#") Find Out More (Link to information)
                          br
                          br
                          a.link-primary(href="#") Location (Google Maps Link to location
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Arcade
                        .card-text Description
                      .card-footer.text-center
                        za.link-primary(href="#") Find Out More (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Art Gallery
                        .card-text Description
                      .card-footer.text-center
                          a.link-primary(href="#") Find Out More (Link to information)
                          br
                          br
                          a.link-primary(href="#") Location (Google Maps Link to location
          //- Sightseeing
          .container.shadow-inner.border.pt-4.mt-3#sightseeing
            .row
              .col.text-center.display-4 Sightseeing
            .row.row-cols-3.g-4.p-4
              .col
                .card
                  img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                  .card-header.text-dark
                    .card-body
                      h5.card-title Taniti City
                      .card-text Description
                    .card-footer.text-center
                          a.link-primary(href="#") Find Out More (Link to information)
                          br
                          br
                          a.link-primary(href="#") Location (Google Maps Link to location
                .card.mt-3
                  img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                  .card-header.text-dark
                    .card-body
                      h5.card-title Yellow Leaf Bay
                      .card-text Description
                    .card-footer.text-center
                          a.link-primary(href="#") Find Out More (Link to information)
                          br
                          br
                          a.link-primary(href="#") Location (Google Maps Link to location
                .card.mt-3
                  img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                  .card-header.text-dark
                    .card-body
                      h5.card-title Boat Tour
                      .card-text Description
                    .card-footer.text-center
                          a.link-primary(href="#") Find Out More (Link to information)
                          br
                          br
                          a.link-primary(href="#") Location (Google Maps Link to location
              .col
                .card
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark 
                      .card-body
                        h5.card-title Bus Tour
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Find Out More (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Rainforest Excursion
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Find Out More (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Zip-Lining
                        .card-text Description
                    .card-footer.text-center
                      a.link-primary(href="#") Find Out More (Link to information)
                      br
                      br
                      a.link-primary(href="#") Location (Google Maps Link to location
              .col
                .card
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Find Out More (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Find Out More (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Find Out More (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location)
            //- Restaurants
          .container.shadow-inner.border.pt-4.mt-3#dining
            .row
              .col.text-center.display-4 Dining
            .row.row-cols-3.g-4.p-4
              .col
                .card
                  img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                  .card-header.text-dark
                    .card-body
                      h5.card-title Restaurant 1
                      .card-text Description
                    .card-footer.text-center
                        a.link-primary(href="#") Menu and Reservations (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location)
                .card.mt-3
                  img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                  .card-header.text-dark
                    .card-body
                      h5.card-title Restaurant 2
                      .card-text Description
                    .card-footer.text-center
                        a.link-primary(href="#") Menu and Reservations (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location)
                .card.mt-3
                  img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                  .card-header.text-dark
                    .card-body
                      h5.card-title Restaurant 3
                      .card-text Description
                    .card-footer.text-center
                        a.link-primary(href="#") Menu and Reservations (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location)
              .col
                .card
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Restaurant 4
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Menu and Reservations (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location)
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Restaurant 5
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Menu and Reservations (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location)
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Restaurant 6
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Menu and Reservations (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location)
              .col
                .card
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Restaurant 7
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Menu and Reservations (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location)
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Restaurant 8
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Menu and Reservations (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location)
                .card.mt-3
                    img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
                    .card-header.text-dark
                      .card-body
                        h5.card-title Restaurant 9
                        .card-text Description
                      .card-footer.text-center
                        a.link-primary(href="#") Menu and Reservations (Link to information)
                        br
                        br
                        a.link-primary(href="#") Location (Google Maps Link to location)
        .col-2
          #scrollspy1.sticky-top
            ul.nav.flex-column.nav-pills.menu-sidebar
              li.nav-item
                a.nav-link(href="#entertainment") Entertainment
              li.nav-item
                a.nav-link(href="#sightseeing") Sightseeing
              li.nav-item
                a.nav-link(href="#dining") Dining
      br
      br