extends layout

block content
  .container-fluid.bg-primary
    .container.shadow-inner.border
      .row
        .col
          .card-group
            .card
              img.card-img-top(src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp")
              .card-header.text-dark Entertainment
                .card-body
                  .card-title Enter
                  .card-text taasdfl;asdjflaksdjf;lkasjdlk
            .card
              img.card-img-top(src="")
              .card-header.text-dark
                .card-body
                  .card-title asdfasd
                    .card-text asdfasdfasdfasdf
