extends layout.pug

block content
  .container-fluid.bg-primary.bg-gradient
      .row.text-center.pt-4
        .col-4
        .col.display-5.page-title Discover Paradise...
        .col-4
      .row.text-center
        .col-3
        .col.p-4 Are you looking for an escape from the hustle and bustle of daily life? Do you enjoy stunning views, exciting activities and delectable food? Make the Island of Taniti your next vacation spot!
        .col-3
      .row.text-center
        .col-3
        .col.p-4 Lorem ipsum dolor sit amet, pariatur eiusmod aute ipsum excepteur sint consequat reprehenderit labore aliqua enim in ex fugiat sint quis. Nisi est reprehenderit tempor ut dolor eiusmod aliqua ad pariatur eiusmod. Ullamco mollit consequat ad consequat laborum nisi proident enim aliqua quis irure ea enim exercitation mollit amet elit consectetur. Sunt adipisicing qui deserunt eiusmod laborum. Esse amet pariatur aute do ex dolor cupidatat Lorem reprehenderit deserunt nostrud quis velit aliquip ipsum dolor velit ad id.
        .col-3