doctype html
html
  include includes/head.pug
body
  include includes/navigation.pug

  main#main

  //- include includes/jumbotron.pug
  
  block content
  
  include includes/footer.pug

  block scripts
    script(src='/js/mdb.min.js' type='text/javascript')