:root {
  --light-blue: #0376b0;
  --dark-blue: #54ade4;
  --red: #ff2f56;
  --yellow: #f7dd36;
  --green: #00B74A;
  background-color: var(--green);
}

body {
  color: #FFF;
  background-color: var(--dark-blue);
}
.nav-link {
  color: black;
}

#scrollspy1 > ul > li > a:active {
  color: var(--red);
}

#scrollspy1 > ul > li > a,a:link {
  color: #FFF;
}

/* .bg {
  background-color: var(--dark-blue);
} */